<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
    {{> header}}
    <p>
      Biraz yazı olacak burada.
    </p>

    {{> footer}}

  </body>
</html>
