<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bakımda</title>
  </head>
  <body>

    <p>
      Sitemiz bakıma alınmıştır. Rahatsızlıktan ötürü özür dileriz.
    </p>

  </body>
</html>
