<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Projects</title>
  </head>
  <body>
    {{> header}}
    <p>
      Burda projelerin bir listesi olacak.
    </p>

    {{> footer}}

  </body>
</html>
